HUGGINGFACE_TOKEN=your_hugging_face_token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
AI_ASSISTANT_NAME="Any name you want: Jarvis | Friday | Atlas | Cortana | etc..."

OPENAI_API_KEY="xxxxxx"

TELEGRAM_TOKEN=your_telegram_bot_token
OPENAI_API_KEY=optional_openai_key